* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.header {
    height: 100vh; 
    background-image: url("./image/banner.jpeg");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    text-align: center;
    color: #000;
}

/* .header img {
    width: 100px;
    margin-top: 5px;
    float: left;
    opacity: 0.7;
} */

.login-btn {
     width: 100px;
     padding: 8px 0;
     outline: none !important;
     border: 2px solid #fff;
     border-radius: 50px;
     background: transparent;
     color: #fff;
     margin-top: 10px;
     float: right;
}

.header h1 {
    padding-top: 300px;
    padding-bottom: 0;
    font-size: 55px;
}

.header p {
    margin: 18px 0;
}

.input-group {
    width: 90%;
    max-width: 450px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    padding: 2px;
    background: transparent;
    border: 2px solid #fff;
}

.form-control {
    border-radius: 30px;
    border: 0;
    margin: 2px;
    background: transparent;
    box-shadow: none;
}

.input-group-text {
    width: 110px;
    height: 40px;
    background-image: linear-gradient(#21847d,#1f3d90) ;
    color: #fff;
    padding: 0 25px;
    border-radius: 60px;
    box-shadow: none !important;
    border: 1px solid black;
}

.featues {
    padding: 100px 0;
}

h1 {
    text-align: center;
    padding-bottom: 30px;
}

.feature-img img {
    width: 100%;
}

.price {
    width: 77px;
    height: 70px;
    background: #ff5722;
    color: #fff;
    border-radius: 50%;
    font-weight: 600;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    position: absolute;
    left: 10px;
    bottom: -20px;
    text-align: center;
}

.feature-img {
    position: relative;
}

.rating {
    padding: 3px;
    float: right;
    background: #fff;
    bottom: -1px;
    right: 0;
    position: absolute;

}

.features .fa-solid {
    font-size: 15px;
    color: #ff5722;
}

.feature-details {
    padding: 20px;
    text-align: justify;
}

.feature-details h4 {
    font-weight: 600;
    margin-top: 20px;
}

.features .fa-regular {
     font-size: 15px;
    color: #ff5722;
}

.feature-box {
     box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
     margin-bottom: 30px ;
}

.gallery {
    padding: 100px 0;
    background: #efefef;
}

.gallery-box img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.gallery-box img:hover {
    transform: scale(1.1);
}

.gallery-box h4 {
    display: block;
    color: #fff;
    text-shadow: -2px 2px 2px #000;
    top: 50%;
    left: 50%;
    position: absolute;
    font-weight: 600;
    transform: translate(-50%,-50%);
}

.gallery-box {
    position: relative;
    margin-bottom: 30px;
}

.banner {
    height: 80vh;
    background-image: url("./image/banner2.jpeg");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    padding-top: 5%;
}

.banner-highlights {
    padding: 70px 0;
    background: rgba(0,0,0,0.8);
    text-align: center;
    color: #fff;
}

.booking-btn {
    width: 120px;
    padding: 8px 0;
    outline: none;
    border-radius: 50px;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    margin-top: 20px;
}

.users-feedback {
    padding: 100px 0; 
}

.user-review {
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0,0,100,0.2);
    padding-bottom: 50px;
}

.user-review p {
    padding: 50px 10px 10px 10px;
}

.user-review img {
    width:  80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    margin: -10px 90px -120px 90px;
}

/* .user-review p::before {
    content: '\20ld';
    display: block;
    position: absolute;
    font-size: 100px;
    color: #6495ed;
    font-family: sans-serif;
    left: 44%;
    top: -200px;
} */

.footer {
    padding: 100px 20px;
    background-image: linear-gradient(#2d557d,#9610fb);
}

.footer-logo {
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.footer h4 {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #fff;
}

.footer p {
    font-size: 12px;
    color: #fff; 
}

.footer .row .fa {
    padding-right: 20px;
    font-size: 15px;
}

.footer hr {
    margin-top: 10px;
    background: #fff;
}

.fa-heart {
    margin: 0 5px;
    color: red;
}

.footer .copyright {
    text-align: center;
}